.calculator{
    border:1px black solid;
    border-radius: 5px;
    width:200px;
    height:400px;
    
}
#display{
    margin:10px;
    height:45px;
}
.button{

    margin:5px;
    height:40px;
    width:50px;
    
}